{% extends 'layout.html' %}
    {% block content %}
        <div class="container books">
            <div class="row">
                {% for book in books %}
                    <div class="col-md-4">
                        <br>
                        <img src="static/img/{{ book.image }}"
                         alt="book-img" height="200" width="180" class="img-rounded">
                        <h4>{{ book.title }}</h4>
                        <p>Authors: {{ book.author }}</p>
                        <p>Format: {{ book.format }}</p>
                        <p>Rating: {{ book.avg_rating }}</p>
                        <p>Pages: {{ book.num_pages }}</p>
                        <p><a href="{{ url_for('main.display_publisher',publisher_id=book.pub_id) }}">Publisher Id: {{ book.pub_id }}</a></p>
                        <span class="label label-success"><a href="{{ url_for('main.create_book', pub_id=book.pub_id) }}" style="color: floralwhite"> create </a></span>
                        <span class="label label-primary"><a href="{{ url_for('main.edit_book', book_id=book.id) }}" style="color: floralwhite"> edit </a></span>
                        <span class="label label-info"><a href="{{ url_for('main.delete_book', book_id=book.id) }}" style="color: floralwhite"> delete </a></span>
                        <br><br>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
