html, body {height: 100%; margin: 0; padding: 0}
h1, h2, h3, h4 { font-family: Sansita, serif }
p, li { font-size: small }
ul { position: relative; top: 25px; right: 7%;}
footer{ position: absolute; width: 100%; left:0 ;bottom: 0; height: 40px }
a h3 {position: relative; left: 10%}
span {margin: 2px}
.navbar-inverse { height: 5%; }
.books {padding: 25px; position: relative; left: 5%; width: 80%}
.publisher {padding: 25px; position: relative; left: 40px }
.ftr {padding: 25px}
.wrapper {position: relative; min-height: 120%;}
.title { color: floralwhite }
.form { height: 50%; width:70%; padding: 10px; position: relative; left: 48px}
.form-group {width: 40%}
.login-msg{position: relative; left: 48px}









